cpi/lightning_logs/version_0/events.out.tfevents.1693234985.Ahns-Mac-mini.local.92888.0
cpi/lightning_logs/version_0/events.out.tfevents.1693235012.Ahns-Mac-mini.local.92888.1
cpi/lightning_logs/version_0/hparams.yaml
cpi/lightning_logs/version_1/events.out.tfevents.1693236450.Ahns-Mac-mini.local.96274.0
cpi/lightning_logs/version_1/events.out.tfevents.1693236465.Ahns-Mac-mini.local.96274.1
cpi/lightning_logs/version_1/hparams.yaml
cpi/lightning_logs/version_10/events.out.tfevents.1693237383.Ahns-Mac-mini.local.96274.17
cpi/lightning_logs/version_10/hparams.yaml
cpi/lightning_logs/version_11/events.out.tfevents.1693237411.Ahns-Mac-mini.local.96274.18
cpi/lightning_logs/version_11/events.out.tfevents.1693237443.Ahns-Mac-mini.local.96274.19
cpi/lightning_logs/version_11/hparams.yaml
cpi/lightning_logs/version_12/events.out.tfevents.1693237466.Ahns-Mac-mini.local.96274.20
cpi/lightning_logs/version_12/hparams.yaml
cpi/lightning_logs/version_13/events.out.tfevents.1693237502.Ahns-Mac-mini.local.96274.21
cpi/lightning_logs/version_13/hparams.yaml
cpi/lightning_logs/version_14/events.out.tfevents.1693237537.Ahns-Mac-mini.local.96274.22
cpi/lightning_logs/version_14/hparams.yaml
cpi/lightning_logs/version_15/events.out.tfevents.1693237576.Ahns-Mac-mini.local.96274.23
cpi/lightning_logs/version_15/events.out.tfevents.1693237607.Ahns-Mac-mini.local.96274.24
cpi/lightning_logs/version_15/hparams.yaml
cpi/lightning_logs/version_16/events.out.tfevents.1693237648.Ahns-Mac-mini.local.96274.25
cpi/lightning_logs/version_16/events.out.tfevents.1693237688.Ahns-Mac-mini.local.96274.26
cpi/lightning_logs/version_16/hparams.yaml
cpi/lightning_logs/version_17/events.out.tfevents.1693237702.Ahns-Mac-mini.local.96274.27
cpi/lightning_logs/version_17/hparams.yaml
cpi/lightning_logs/version_2/events.out.tfevents.1693236746.Ahns-Mac-mini.local.96274.2
cpi/lightning_logs/version_2/events.out.tfevents.1693236812.Ahns-Mac-mini.local.96274.3
cpi/lightning_logs/version_2/hparams.yaml
cpi/lightning_logs/version_3/events.out.tfevents.1693237033.Ahns-Mac-mini.local.96274.4
cpi/lightning_logs/version_3/events.out.tfevents.1693237056.Ahns-Mac-mini.local.96274.5
cpi/lightning_logs/version_3/hparams.yaml
cpi/lightning_logs/version_4/events.out.tfevents.1693237125.Ahns-Mac-mini.local.96274.6
cpi/lightning_logs/version_4/events.out.tfevents.1693237134.Ahns-Mac-mini.local.96274.7
cpi/lightning_logs/version_4/hparams.yaml
cpi/lightning_logs/version_5/events.out.tfevents.1693237157.Ahns-Mac-mini.local.96274.8
cpi/lightning_logs/version_5/hparams.yaml
cpi/lightning_logs/version_6/events.out.tfevents.1693237167.Ahns-Mac-mini.local.96274.9
cpi/lightning_logs/version_6/events.out.tfevents.1693237200.Ahns-Mac-mini.local.96274.10
cpi/lightning_logs/version_6/hparams.yaml
cpi/lightning_logs/version_7/events.out.tfevents.1693237219.Ahns-Mac-mini.local.96274.11
cpi/lightning_logs/version_7/events.out.tfevents.1693237253.Ahns-Mac-mini.local.96274.12
cpi/lightning_logs/version_7/hparams.yaml
cpi/lightning_logs/version_8/events.out.tfevents.1693237280.Ahns-Mac-mini.local.96274.13
cpi/lightning_logs/version_8/events.out.tfevents.1693237312.Ahns-Mac-mini.local.96274.14
cpi/lightning_logs/version_8/hparams.yaml
cpi/lightning_logs/version_9/events.out.tfevents.1693237330.Ahns-Mac-mini.local.96274.15
cpi/lightning_logs/version_9/events.out.tfevents.1693237361.Ahns-Mac-mini.local.96274.16
cpi/lightning_logs/version_9/hparams.yaml
